@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.App {
  font-family: 'Pretendard-Regular';
  min-height: 100vh;
}

/* Header */
.header {
  height: 100%;
  min-height: 7.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 4rem;
  & .logo {
    width: 10.5rem;
  }
  & .navbar {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    justify-content: center;
    & a {
      min-width: 4rem;
      padding: 0 1.2rem;
      font-size: 1.6rem;
    }
    & .profile-wrapper {
      border: 1px solid #d6d6d6;
      border-radius: 20rem;
      min-height: 4rem;
      display: flex;
      gap: 0.6rem;
      padding: 0 1.2rem;
      align-items: center;
      justify-content: center;
    }
  }
}

/* tripcard */

.trip-card {
  max-width: 120rem;
  margin: 0 auto;
  position: relative;
  & .title {
    padding: 1.6rem 0rem;
    & h2 {
      font-size: 1.8rem;
      color: rgb(51 51 51);
    }
  }
  & .card {
    display: flex;
    flex-direction: column;
    width: 85%;
    cursor: pointer;
    & .slick-list {
      display: flex;
      justify-content: space-between;
    }
    & img {
      border-radius: 1rem;
      transition: filter 0.3s ease;
    }
    & img:hover {
      filter: brightness(80%);
    }
    & span {
      padding: 1.2rem 0.4rem 2rem 0.4rem;
      color: rgb(51 51 51);
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
}

/* weekcard */

.weekcard {
  & h2 {
    margin: 0px 0px 8px 0px;
    font-weight: 600;
    font-size: 1.8rem;
  }
  & p {
    margin: 0px 0px 20px 0px;
    font-size: 1.5rem;
    color: #c0c0c0;
  }
  & .weekcard_section {
    & .weekcard_section_img {
      display: flex;
      flex-grow: 1;
      & .weekcard_img {
        max-width: 310px;
        margin-right: 18px;
        border-radius: 12px;
      }
    }
  }
}

/* CardSlider */

.card-slider {
  display: flexbox;
  justify-content: space-between;
  align-items: center;
  max-width: 120rem;
  position: relative;
  & button {
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: none;
    cursor: pointer;
    border-radius: 50rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  & .prev-btn {
    left: -2rem;
    top: 40%;
    transform: translate(0, -50%);
  }
  & .next-btn {
    right: 1rem;
    top: 40%;
    transform: translate(0, -50%);
  }
}
/* .card-slider {
  .btn-wrapper {
    display: flex;
    padding: 0;
    justify-content: space-between;
    width: 100%;
    max-width: 120rem;
    margin: auto;
    padding: 0 2rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    & button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4rem;
      height: 4rem;
      z-index: 10;
      border: none;
      cursor: pointer;
      border-radius: 50rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    & .next-btn {
      right: 0rem;
    }
    & .prev-btn {
      left: 0rem;
    }
  }
} */

.category {
  height: 34px;
}
.category ul {
  display: flex;
  width: 100%;
  gap: 6px 8px;
  list-style: none;
  flex-wrap: nowrap;
  margin: 0;
}

.category li {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;
  align-items: center;
  cursor: pointer;
  background-color: white;
  outline: 2px solid rgba(0, 0, 0, 0);
  border-radius: 100px;
  font-size: 1.6rem;
  border-width: 1.5px;
  border: 1px solid rgba(235, 235, 235, 1);
}

.category li:active {
  background-color: rgb(18, 115, 228);
  color: white;
}

.popularCard-list {
  display: flex;
  overflow-x: hidden;
}

.popularCard-item {
  display: flex;
}

.popcard-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.popcard-img {
  width: 230px;
  height: 130px;
}
.popcard-img img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.popcard-lodging {
  margin-top: 10px;
}

.popcard-header {
  font-size: 12px;
  margin-bottom: 6px;
}
.popcard-place {
  font-size: 12px;
  color: rgb(153, 153, 153);
  margin-bottom: 6px;
}
.popcard-rating {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 10px;
}
.popcard-rating span:first-child {
  display: flex;
  align-items: center;
  background-color: rgb(255, 173, 10);
  border-radius: 6px;
  padding: 4px 5px 3px 3px;
}
.popcard-rating span:last-child {
  color: rgb(112, 112, 112);
  display: flex;
  align-items: center;
  line-height: normal;
  font-size: 12px;
}

.popcard-price {
  display: flex;
  flex-direction: column;
}

.popcard-price span {
  font-size: 0.75rem;
  color: rgb(153, 153, 153);
  margin-bottom: 4px;
}

.popcard-price div {
  font-size: 1.125rem;
  font-weight: 700;
}
